
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Editorial</th>
        <th>Gender</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{ book.id }}</td>
        <td><img [src]="book.image" alt="{{ book.name }}" height="50"></td>
        <td>{{ book.name }}</td>
        <td>{{ book.editorial }}</td>
        <td>{{ book.gender }}</td>
        <td>{{ book.author }}</td>
        <td>
          <button class="btn btn-primary" (click)="editBook(book)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


