<form>
    <div class="mb-3">
        <h1>Add a Book</h1>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="ID">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Author</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Gender</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Editorial</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="mb-3">
        <input class="form-control" type="file" id="formFile">
      </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
